@tailwind base;
@tailwind components;
@tailwind utilities;

@import "../styles/interactive.css";

:root {
  --foreground: #0a0a0a;
  --background: #fafafa;
}

.dark {
  --foreground: #fafafa;
  --background: #0a0a0a;
}

body {
  color: var(--foreground);
  background: var(--background);
}
